.main-aside {
    grid-area: aside;
    background: $c-white;
    border-radius: 4px;
    padding: 40px;

    &__title {
        @include title-main;
    }

    a {
        color: $c-secondary;
    }
}

.list-aside {
    &__item {
        padding: 10px 0;
    }
}