@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto:wght@400;700&display=swap');

@mixin title-main {
    font-family: $f-secondary;
    font-size: 30px;
    color: $c-secondary;
    margin-bottom: 30px;
}