<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div>
            <button type="button" v-on:click="showAll">Todos</button>
            <button type="button" v-for="type in typeList" v-on:click="filterByType(fullPokemons, type)">{{ type }}</button>
        </div>
        <!-- <div>
            <input type="text"/>
        </div> -->
        <ul>
            <li v-for="pokemon in filteredPokemons">
                <pokemon-card :pokemon="pokemon"></pokemon-card>
            </li>
        </ul>
    </div>
</body>
<script id="pokemonCard" type="text/x-template">
    <div>
        {{ pokemon.name }}
        <img :src="replaceImgSrc(pokemon.image)" :alt="pokemon.name" width="100px"/>
    </div>
</script>    
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="main.js"></script>
</html>